.app {
    background: url(../img/evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg);
    background-size: cover;
    
}


/* .app-body {
    background-color: green;
} */


.app-form {
    background-color: rgba(0, 10, 20, 0.8);
}

.app-result {
    background-color: rgba(255, 255, 255, 0.8);
}

.input-boxes {
    margin-bottom: 48px;
}

.invalid-feedback {
    margin-bottom: -25px;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 10, 20, 0.8);
    box-shadow: 0px 0px 35px rgba(0, 10, 20, 0.8);
}